@{
    ViewBag.Title = "Home Page";
}

@if (User.Identity.IsAuthenticated)
{
    <main>
        <section class="row" aria-labelledby="aspnetTitle">
            <h1 id="title">School Schedule</h1>
            <p class="lead">School schedule showing the list of subjects studied, students and teachers.</p>
            <p><a href="/Schedule" class="btn btn-primary btn-md">Press to start &raquo;</a></p>
        </section>

        
    </main>
}
else
{
    <div class="alert alert-warning">You need to log in to access this page.</div>
}
